body{
    background-color: #f5dacc  !important;
    transition: background-color 2s ease;

}
p{
    color:black !important;
    transition: color 2s ease;

}
h1{
    color: black !important;
    transition: color 2s ease;
}
#themaicon{
    color: black !important;
    transition: color 2s ease;

}
#movieCard{
    background-color: #d3d1f3;
    transition: background-color 2s ease;

}
#accountCard{
    background-color: #d3d1f3;
    transition: background-color 2s ease;

}
#categories .list-group-item {
    background-color: #d3d1f3;
    transition: background-color 2s ease;

}
#categories .list-group-item:hover {
    background-color: white;
    transition: background-color 0.5s ease;

}
#detailsCard{
    background-color: #d3d1f3;
    transition: background-color 2s ease;
}
p{
    color: black;
}

